body {
    overflow: hidden;
    margin: 0;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: none;
    background-color: rgb(218, 218, 218);
}

#toolWheel {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    top: 40%;
    left: 40%;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid black;
    z-index: 3;
    box-shadow: 10px 10px 100px rgb(102, 102, 102);
}

#pencil, #pen, #eraser, #fill {
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 500ms all;
}

#pencil {
    top: -2%;
    left: -6%;
}

#pen {
    top: -6%;
    left: 50%;
}

#eraser {
    left: -6%;
    top: 50%
}

#fill {
    top: 50%;
    left: 50%;
}

#pencil:hover, #pen:hover, #eraser:hover, #fill:hover {
    background-color: rgb(191, 216, 223);
    scale: 1.05;
    z-index: 2;
}

#crosshair {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: none;
    border: 3px solid black;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: inset 10px 10px 20px rgba(255, 255, 255, 0.4);
    z-index: 2;
}

#panel {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100%;
    bottom: 0;
    right: 0;
    border: none;
    cursor:default;
}
#colorPanel{
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 70%;
    height: 12.5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition: all 200ms;
    border:1px solid rgb(180, 180, 180);
}

#colorPanel button{
    cursor: pointer;
    border: none;
}

#colorPanel button:hover{
    border: 1px solid rgb(180, 180, 180);
    scale: 1.05;
}

#userColorPanel {
    position: absolute;
    width: 70%;
    height: 5%;
    border: 1px solid rgb(180, 180, 180);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    bottom: 5%;
    left: 15%;

}

#userColorPanel button {
    cursor: pointer;
    border: none;
}

#userColorPanel button:hover{
    scale: 1.05;
    border: 1px solid rgb(180, 180, 180);
}

#colorPickerWindow {
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 50;
    width: 300px;
    height: 300px;
    cursor: crosshair;
    background-color: red;
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
}

#hueSlider {
    appearance: none;
    width: 200px;
    height: 15px;
    background: linear-gradient(
        to right,
        red,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    border-radius: 10px;
    pointer-events: all;
}

#hueSlider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    pointer-events: all;
}

#confirmButton {
    pointer-events: all;
}